{% extends 'base.html' %}
{% block content %}

<section class="hero">
  <h1>Welcome to FUTURE CLIMB</h1>
  <p>Your AI-powered career assistant</p>
</section>

<section class="features-section">
  <div class="features-content">
    <div class="features-text">
      <h2>Transform Your Career <br>Development With<br> AI-Powered Coaching</h2>
      <p>
        Your personal AI-powered career partner designed to help you succeed. 
        From expert resume feedback and cover letter creation to interview practice 
        and job tracking — everything you need to land your dream job is here.
        Get smart, get confident, and take charge of your career with AI Job Coach.
      </p>
    </div>

    <div class="image-container">
      <img class="img-style-1" src="/static/images/images.jpeg" alt="AI Coaching 1" />
      <img class="img-style-2" src="/static/images/img8.jpeg" alt="AI Coaching 2" />
      <img class="img-style-3" src="/static/images/img9.jpeg" alt="AI Coaching 3" />
    </div>
  </div>

  <div>
    <h3>What You Can Do!</h3>
    <div class="features-grid">
      <div class="feature-box">📄 Resume Feedback</div>
      <div class="feature-box">✍️ Cover Letter Generator</div>
      <div class="feature-box">🎤 Interview Practice</div>
      <div class="feature-box">📊 Job Tracker</div>
      <div class="feature-box">🧠 Market Insights</div>
      <div class="feature-box">🧪 AI Prompt Lab</div>
    </div>
  </div>

</section>

{% endblock %}
