{% extends 'base.html' %}
{% block content %}

<div class="login-container">
  <h1>WELCOME bACK!</h1>
  <h3>Log in to continue your journey with Future Climb — your AI-powered career coach.</h3>
    <div class="login-box">
      <h2>Login to Your Account</h2>
      <form class="login-form" method="POST" action="/login">
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Login</button>
      </form>
      <p >
        Don't have an account? <a href="/register">Register here</a>
      </p>
    </div>
</div>

{% endblock %}
